# ── CV-Genix Environment Variables ───────────────────
# DO NOT commit this file to Git. It is in .gitignore.

# MongoDB
MONGO_ROOT_PASSWORD=KumaranDB6253

# JWT
JWT_SECRET=cvgenix_jwt_super_secret_key_2026

# Docker Hub (used in docker-compose.prod.yml)
DOCKERHUB_USERNAME=kumaran0512
